
.dashboard{
   padding: 0 40px;
}
.dashboard-filter{
   
}

.dashboard-right{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.movie-content-box {
    width: 25%;
    display: flex;
    justify-content: center;
}

.movie-content-box-item{
    
    padding: 20px;
    margin: 0 40px;
}