
.dashboard{
   margin: 30px;
}
.dashboard-filter{
   
}

.dashboard-right{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.dashboard-content{
    flex-direction: column;
    margin: 40px;
}

.movie-content-box {
    width: 25%;
    display: flex;
    justify-content: center;
}

.movie-content-box-item{
    padding: 20px;
    margin: 0 40px;
}