
.dashboard{
   
}
.dashboard-filter{
    padding-left: 30px;
}

.dashboard-right{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.movie-content-box {
    width: 25%;
   
    display: flex;
    justify-content: center;
}

.movie-content-box-item{
    width: 240px;
    padding: 20px;
    margin: 0 40px;
}