
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #3f3e6d;
}
body::-webkit-scrollbar-track{ 
  background:#e0cffa; 
 
} 

body::-webkit-scrollbar{ 
  width: 10px; 
  
  padding: 0 1px; 
  background-color: #c2f5d6; 
} 
body::-webkit-scrollbar-thumb{ 
  background-color: #211f41;
  border-radius: 10px;
}

.pages{
  padding: 30px;
}





.row{
  display: flex;
}
